// Colors
$dark-color: #000000;
$light-color: #ffffff;
$main-color: #be4bdb;
$grey-color: #2f2d2d;

// Fonts
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Container width
$max-width: 1280px;

//Breakpoints
$break-xs: 320px;
$break-s: 660px;
$break-sm: 768px;
$break-md: 1024px;
$break-lg: 1280px;
$break-xl: 1600px;
