// Colors
$dark-color: #000000;
$light-color: #FFFFFF;
$main-color: #9F0013;
$grey-color: #5C5C5C;

// Fonts
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Container width
$max-width: 1280px;

//Breakpoints
$break-xs: 320px;
$break-sm: 768px;
$break-md: 1024px;
$break-lg: 1280px;
$break-xl: 1600px;
