@use '../../styles/abstracts' as *;

.header {
  @extend %transition;
  padding: 1rem 0;
  min-height: 6rem;
  background: $grey-color;
}

.container {
  width: 100%;
  max-width: $max-width;
  padding: 0 2rem;
  margin: 0 auto;

  @include maxQ-mobile {
    padding: 0 1rem;
  }
}

.wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn__wrapper {
  display: flex;
  gap: 1rem;
}


.menu {
  margin-right: auto;
  &__list {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  &__link {
    @extend %transition;
    text-decoration: none;
    color: $light-color;
    &:hover{
      color: $main-color;
    }
  }
}

.list__item:not(:first-child) {
  @extend %transition;
  margin: 0 0.8rem;
  &:hover {
    color: $main-color;
  }
}

.menu__link_active {
  color: $main-color;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 3rem;
  z-index: 100;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  animation: header 0.5s ease-out;
}

@keyframes header {
  from{
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
