@use '../../styles/abstracts' as *;

.header {
  @extend %transition;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 100;
  background: $light-color;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}

.container {
  width: 100%;
  max-width: $max-width;
  padding: 0 2rem;
  margin: 0 auto;

  @include maxQ-mobile {
    padding: 0rem 1rem;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include maxQ-sm-tablet {
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
  }
}

.btn__wrapper {
  width: 8rem;
  margin-left: 2rem;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  @include maxQ-sm-tablet {
    margin-left: 0;
  }
}

.menu {
  margin-right: auto;
  user-select: none;

  @include maxQ-sm-tablet {
    margin-right: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  &__link {
    @extend %transition;
    text-decoration: none;
    color: $dark-color;
    &:hover {
      color: $main-color;
    }
  }
}

.menu__link_sticky {
  color: $light-color;
}

.list__item:not(:first-child) {
  @extend %transition;
  margin: 0 0.8rem;
  &:hover {
    color: $main-color;
  }
}

.menu__link_active {
  color: $main-color;
}

.menu__link_disabled {
  pointer-events: none;
  color: gray;
}

.sticky {
  padding: 1rem 0;
  backdrop-filter: blur(10px);
  background: $grey-color;
}
