.button {
  position: relative;
  float: right;
  right: 10px;
  z-index: 1;

  height: 25px;
  padding: 5px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  background: #e8e8e8;
  border-radius: 5px;

  font-size: 20px;

  user-select: none;
  transition: 0.3s;

  &:hover {
    background: #e8cee7;
  }
}
