@use '../../styles/abstracts' as *;

.footer {
  width: 100%;
  margin: 0 auto 4px;
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: $max-width;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  @include maxQ-tablet {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 10px;
  }
}

.text {
  @include font(1.4rem, 120%);
  @include maxQ-tablet {
    margin-top: 8px;
  }
}

.links__group {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }
}

.link {
  @extend %transition;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: $dark-color;
  line-height: 1;
  &:hover {
    color: $main-color;
    text-decoration: none;
  }
}

.logo {
  fill: $main-color;
  margin-right: 1rem;
  &:hover {
    fill: $main-color;
    cursor: pointer;
  }
}
