@use '../../styles/abstracts' as *;

.footer {
  padding: 1rem 0;
  border-top: solid 0.5px #bebbbb;
}

.inner {
  display: flex;
  justify-content: space-between;
  @include maxQ-tablet {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.text {
  @include font(1.4rem, 120%);
  @include maxQ-tablet {
    margin-top: 2rem;
  }
}

.links__group {
  width: 75%;
  display: flex;
  justify-content: space-between;
  @include maxQ-tablet {
    width: 100%;
    flex-wrap: wrap;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.link {
  @extend %transition;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: $dark-color;
  &:hover {
    color: $main-color;
    text-decoration: none;
  }
  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
  }
}

.logo {
  fill: $main-color;
  margin-right: 1rem;
  &:hover {
    fill: $main-color;
    cursor: pointer;
  }
}
