@use '../abstracts' as *;

* {
  @extend %font-primary;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  @include font(1.4rem, 120%);
  color: $dark-color;
}

main {
  flex: 1 1 auto;
}

.container.sticky {
  margin: 5rem auto 3rem auto;
}
.container {
  width: 100%;
  max-width: $max-width;
  padding: 0 2rem;
  margin: 0rem auto;

  @include maxQ-mobile {
    padding: 0rem 1rem;
  }
}
.title {
  @include font(2.5rem, 130%, 700);
  text-align: center;
}

.notFound {
  display: block;
  margin: 0 auto;
  width: 50vw;
  height: 60vh;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
